body {
  background-color: #222;
  color: #fff;
  font-family: 'Walter Turncoat', cursive;
  padding: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.lives-container {
  padding: 10px;
  font-size: 24px;
}

label {
  display: block;
}

input {
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  min-width: 300px;
}

button {
  font-family: 'Walter Turncoat', cursive;
  font-size: 18px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #222;
  padding: 0 5px;
}

button:hover {
  border-color: #fff;
}

.display-area {
  font-size: 40px;
  padding: 20px 0;
}

.message-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #fff;
}

.messages-container {
  height: 15vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.messages-list {
  list-style: none;
  margin: 0;
  padding-bottom: 30px;
  flex: 1;
}

.message-form {
  width: 100%;
  padding: 2px;
  display: flex;
}

.message-form input {
  width: 90%;
}