body {
  background-color: #222;
  color: #fff;
  font-family: 'Walter Turncoat', cursive;
  padding: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.lives-container {
  padding: 10px;
  font-size: 24px;
}

label {
  display: block;
}

input {
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  min-width: 300px;
}

button {
  font-family: 'Walter Turncoat', cursive;
  font-size: 18px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #222;
  padding: 0 5px;
}

button:hover {
  border-color: #fff;
}

.display-area {
  font-size: 40px;
  padding: 20px 0;
}